
<!-- section of empty committees-->
<section class="none-committees">
<div class="line">
    <h3>اللجان</h3>
    <h4>مرحبا مرة اخري, محمد مصطفي علي</h4>
</div>
<div class="info">
    <img src="../../../assets/images/empty.png" alt="">
</div>
<div class="btns">
    <a >اضافة لجنة جديدة</a>
</div>
</section>
<!-- section of  committees-->

<section class="committees">
    <div class="collect">
        <div class="line">
            
            <h3>اللجان</h3>
            <h4>مرحبا مرة اخري, محمد مصطفي علي</h4>
        </div>
 
        <div class="filters">
            <div class="scearh">
                  <input class="search-input" type="text">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <img class="vector" src="../../../assets/images/Vector.png" alt="">
            </div>
            <a class="add-committee">اضافة لجنة جديدة</a>

        </div>
    </div>
   <div class="dataOfCommittee">
    <div class="data">

    
    <div class="item">
        <div class="itemHeader">
            <div class="status">
                <h5>لجنة نشطة</h5>
            </div>
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <div class="itembody">
            <h2 class="tittle">لجنة مشروع الحدود القطرية الجديدة لعام 2023 الي 2024</h2>
            <p class="discription">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.إذا كنت تحتا...</p>
       
            <div class="information">
                <div class="date">
                    <h5>تاريخ الانشاء</h5>
                    <h6>22/6/2023</h6>
                </div>
                <div class="numOfUser">
                    <h5>عدد الاعضاء</h5>
                    <h6>32</h6>

                </div>
                <div class="numOftasks">
                    <h5>عدد المهام</h5>
                    <h6>20</h6>
                </div>
            </div>
            <div class="head">
                <h5>رئيس اللجنة</h5>
                <div class="photo-head">
                    <img src="../../../assets/images/Ellipse 2340.png" alt="">
                    <h3>عبدالله الراجحي</h3>
                </div>
            </div>
            <div class="pranciple">
                <h5>الاعضاء</h5>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="itemHeader">
            <div class="status">
                <h5>لجنة نشطة</h5>
            </div>
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <div class="itembody">
            <h2 class="tittle">لجنة مشروع الحدود القطرية الجديدة لعام 2023 الي 2024</h2>
            <p class="discription">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.إذا كنت تحتا...</p>
       
            <div class="information">
                <div class="date">
                    <h5>تاريخ الانشاء</h5>
                    <h6>22/6/2023</h6>
                </div>
                <div class="numOfUser">
                    <h5>عدد الاعضاء</h5>
                    <h6>32</h6>

                </div>
                <div class="numOftasks">
                    <h5>عدد المهام</h5>
                    <h6>20</h6>
                </div>
            </div>
            <div class="head">
                <h5>رئيس اللجنة</h5>
                <div class="photo-head">
                    <img src="../../../assets/images/Ellipse 2340.png" alt="">
                    <h3>عبدالله الراجحي</h3>
                </div>
            </div>
            <div class="pranciple">
                <h5>الاعضاء</h5>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="itemHeader">
            <div class="status">
                <h5>لجنة نشطة</h5>
            </div>
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <div class="itembody">
            <h2 class="tittle">لجنة مشروع الحدود القطرية الجديدة لعام 2023 الي 2024</h2>
            <p class="discription">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.إذا كنت تحتا...</p>
       
            <div class="information">
                <div class="date">
                    <h5>تاريخ الانشاء</h5>
                    <h6>22/6/2023</h6>
                </div>
                <div class="numOfUser">
                    <h5>عدد الاعضاء</h5>
                    <h6>32</h6>

                </div>
                <div class="numOftasks">
                    <h5>عدد المهام</h5>
                    <h6>20</h6>
                </div>
            </div>
            <div class="head">
                <h5>رئيس اللجنة</h5>
                <div class="photo-head">
                    <img src="../../../assets/images/Ellipse 2340.png" alt="">
                    <h3>عبدالله الراجحي</h3>
                </div>
            </div>
            <div class="pranciple">
                <h5>الاعضاء</h5>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="itemHeader">
            <div class="status">
                <h5>لجنة نشطة</h5>
            </div>
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <div class="itembody">
            <h2 class="tittle">لجنة مشروع الحدود القطرية الجديدة لعام 2023 الي 2024</h2>
            <p class="discription">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.إذا كنت تحتا...</p>
       
            <div class="information">
                <div class="date">
                    <h5>تاريخ الانشاء</h5>
                    <h6>22/6/2023</h6>
                </div>
                <div class="numOfUser">
                    <h5>عدد الاعضاء</h5>
                    <h6>32</h6>

                </div>
                <div class="numOftasks">
                    <h5>عدد المهام</h5>
                    <h6>20</h6>
                </div>
            </div>
            <div class="head">
                <h5>رئيس اللجنة</h5>
                <div class="photo-head">
                    <img src="../../../assets/images/Ellipse 2340.png" alt="">
                    <h3>عبدالله الراجحي</h3>
                </div>
            </div>
            <div class="pranciple">
                <h5>الاعضاء</h5>
            </div>
        </div>
    </div>

    </div>
   </div>

</section>