
<nav class="navbar">
    <div class="nav-icons">

        <div class="person">
            <img src="../../../assets/images/Ellipse 223.png" alt="">
            <p> محمد الصافي</p>
            <i class="fa-solid fa-chevron-down"></i>
        </div>

        <div class="icons">
            <i class="fa-regular fa-moon"></i>
            <i class="fa-regular fa-bell notifction"></i>
            <i class="fa-regular fa-comments comment"></i>
            <i class="fa-regular fa-calendar-days"></i>
        </div>
    </div>

    <div class="logo">
        <img src="../../../assets/images/Screenshot 2023-07-05 132317 1.png" alt="">
    </div>
</nav>



