<!-- انشاء لجنه الخطوه 1 -->
<section class="p-4 section-form">
    <div class="header-section">
        <h4>انشاء لجنة جديدة</h4>
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="steps">
        <div class="step-one">
            <img src="../../../assets/images/Outline.png" alt="">
            <p>بيانات اللجنة</p>
        </div>
        <div class="step-two">
            <img src="../../../assets/images/fi_3347654.png" alt="">
            <p>أعضاء اللجنة</p>
        </div>
    </div>

    <!-- form one -->
    <div class="form-data pt-4">
        <h5>أدخل بيانات اللجنة</h5>
        <form action="">
            <div class="input-data">
                <div class="input-data1">
                    <label for="">نطاق اللجنة</label>
                    <select id="" name="" class="input-cust">
                        <option value="محلية">محلية</option>
                        <option value="دولية">دولية</option>
                    </select>
                    <label for="">تصنيف اللجنة</label>
                    <input placeholder="اكتب هنا..." id="" type="text" class="input-cust">
                    <label for="">نوع اللجنة</label>
                    <select id="" name="" class="input-cust">
                        <option value="محلية">اختر نوع اللجنة</option>
                        <option value="دولية">دولية</option>
                    </select>
                    <label for="">تصنيف اللجنة</label>
                    <input placeholder="اكتب هنا..." id="" type="text" class="input-cust">
                </div>

                <div class="input-data2">
                    <label for=""> الادارة المعنية</label>
                    <input placeholder="اكتب هنا..." id="" type="text" class="input-cust">

                    <div class="time">
                        <div class="start-end">
                            <label for=""> تاريخ التشكيل</label>
                            <input placeholder="اكتب هنا..." id="" type="date" class=" input-cust date-input">
                        </div>
                        <div class="start-end">
                            <label for="">تاريخ الانتهاء </label>
                            <input placeholder="اكتب هنا..." id="" type="date" class=" input-cust date-input">
                        </div>
                    </div>

                    <label for=""> الغرض العام</label>
                    <input placeholder=" الغرض العام من اللجنة" id="" type="text" class="input-cust">
                    <label for="">اسم اللجنة</label>
                    <input placeholder="اكتب هنا..." id="" type="text" class="input-cust">
                </div>
            </div>
        </form>
    </div>

    <div class="footer">
        <div class="footer-step">
            <p>الخطوه 1 من 2</p>
        </div>
        <div class="footer-btn">
            <a href="" class="btn"> التالي</a>
        </div>
    </div>

</section>