.section-form {
  display: none;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    font-family: Janna LT;
    font-size: 24px;
    font-weight: 700;
    line-height: 45px;
    text-align: right;
  }
  i {
    font-size: 25px;
    color: #666d80;
  }
}

.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .step-one {
    width: 90px;
    height: 70px;
    background-color: white;
    border: 1px solid var(--thirdColor);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    position: relative;

    p {
      font-family: Janna LT;
      font-size: 16px;
      font-weight: 500;
      padding-top: 10px;
    }
    &::after {
      content: "";
      width: 555px;
      height: 1px;
      background-color: rgb(102, 109, 128, 0.4);
      position: absolute;
      top: 50%;
      right: 88px;
    }
  }

  .step-two {
    width: 90px;
    height: 70px;
    background-color: white;
    border: 1px solid #666d80;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    position: relative;

    p {
      font-family: Janna LT;
      font-size: 16px;
      font-weight: 500;
      padding-top: 10px;
    }
    &::before {
      content: "";
      width: 555px;
      height: 1px;
      background-color: rgb(102, 109, 128, 0.4);
      position: absolute;
      top: 50%;
      left: 88px;
    }
  }
}

// form one

.form-data {
  height: 600px;

  h5 {
    font-family: Janna LT;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
  }

  .input-data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input-data1 {
      width: 48%;

      label {
        padding: 15px 0px;
        font-family: Janna LT;
        font-size: 18px;
        font-weight: 400;
      }

      .input-cust {
        display: block;
        width: 100%;
        border: rgb(102, 109, 128, 0.8);
        border-radius: 8px;
        padding: 10px;
      }
    }

    .input-data2 {
      width: 48%;
      padding-right: 10px;

      label {
        padding: 15px 0px;
        font-family: Janna LT;
        font-size: 18px;
        font-weight: 400;
      }

      .input-cust {
        display: block;
        width: 100%;
        border: rgb(102, 109, 128, 0.8);
        border-radius: 8px;
        padding: 10px;
      }
      .time {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .start-end {
          width: 48%;
        }
        .date-input {
          width: 100%;
        }
      }
    }
  }
}

.footer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;

  .footer-step {
    p {
      font-family: Janna LT;
      font-size: 14px;
      font-weight: 700;

      color: #666d80;
    }
  }
  .footer-btn {
    background-color: var(--mainColor);
    width: 150px;
    text-align: center;
    border-radius: 6px;
    a {
      font-family: Janna LT;
      font-size: 16px;
      color: #fff;
    }
  }
}

// members
.section-member {
  // display: none;

  .header-section-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      font-family: Janna LT;
      font-size: 24px;
      font-weight: 700;
      line-height: 45px;
      text-align: right;
    }
    i {
      font-size: 25px;
      color: #666d80;
    }
  }

  .steps-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .step-one {
      width: 90px;
      height: 70px;
      background-color: white;
      border: 1px solid var(--thirdColor);
      padding: 5px;
      border-radius: 10px;
      text-align: center;
      position: relative;

      p {
        font-family: Janna LT;
        font-size: 16px;
        font-weight: 500;
        padding-top: 10px;
      }
      &::after {
        content: "";
        width: 555px;
        height: 1px;
        background-color: rgb(102, 109, 128, 0.4);
        position: absolute;
        top: 50%;
        right: 88px;
      }
    }

    .step-two {
      width: 90px;
      height: 70px;
      background-color: white;
      border: 1px solid var(--thirdColor);
      padding: 5px;
      border-radius: 10px;
      text-align: center;
      position: relative;

      p {
        font-family: Janna LT;
        font-size: 16px;
        font-weight: 500;
        padding-top: 10px;
      }
      &::before {
        content: "";
        width: 555px;
        height: 1px;
        background-color: rgb(102, 109, 128, 0.4);
        position: absolute;
        top: 50%;
        left: 88px;
      }
    }
  }

  .comm-member-headr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;

    h4 {
      font-family: Janna LT;
      font-size: 20px;
      font-weight: 700;
    }
    a {
      width: 150px;
      color: var(--mainColor);
      border-radius: 8px;
      padding: 8px 0;
      border: 1px solid var(--mainColor);
      text-decoration: none;
      text-align: center;
      font-family: Janna LT;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
